.highlights_rootContainer {
   width: 0;
   height: 0;
   margin: 0;
   padding: 0;
   border: none;
}

.highlighController {
      background-color: rgb(86, 86, 86);
      width: 20px;
      height: 20px;
      padding: 0;
      margin: 0;
      position: fixed;
      bottom: 5%;
      right: 5%;
      z-index: 999;
}
